language: objective-c
osx_image: xcode9.3
before_install:
  - export IOS_SIMULATOR_UDID=`instruments -s devices | grep "iPhone SE (11.2" | ruby -e "puts gets.split('[')[1].split(']').first"`
  - echo $IOS_SIMULATOR_UDID
  - open -a "simulator" --args -CurrentDeviceUDID $IOS_SIMULATOR_UDID
script: set -o pipefail && xcodebuild clean test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -project org.onebusaway.iphone.xcodeproj -scheme OneBusAway -sdk iphonesimulator -destination "platform=iOS Simulator,id=$IOS_SIMULATOR_UDID" ONLY_ACTIVE_ARCH=NO | xcpretty
notifications:
  slack:
    rooms:
      - onebusaway:kcIbPpOOuJEhNgpzWMd8gkqj
    on_success: change
    on_failure: always
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/30e6e2d8791d3099cbe5
    on_success: always
    on_failure: always
    on_start: true
