language: objective-c
osx_image: xcode8.1
script: set -o pipefail && xcodebuild clean test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -project org.onebusaway.iphone.xcodeproj -scheme OneBusAway -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.1' ONLY_ACTIVE_ARCH=NO | xcpretty
notifications:
  slack:
    rooms:
      - onebusaway:kcIbPpOOuJEhNgpzWMd8gkqj
    on_success: change
    on_failure: always
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/30e6e2d8791d3099cbe5
    on_success: always
    on_failure: always
    on_start: true
