osx_image: xcode7.1
language: objective-c
before_install:
  - brew update
  - brew outdated xctool || brew upgrade xctool
  - gem install cocoapods
  - pod install
xcode_workspace: org.onebusaway.iphone.xcworkspace
xcode_sdk:
    - iphonesimulator
xcode_scheme:
    - Debug
notifications:
  slack: onebusaway:kcIbPpOOuJEhNgpzWMd8gkqj
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/30e6e2d8791d3099cbe5
    on_success: always
    on_failure: always
    on_start: true