language: objective-c
before_install:
    #- pwd
    
    # print version of os x
    #- sw_vers
    
    # print disk space
    #- df -h
    
    # install all software updates
    #- sudo softwareupdate -iva
    
    #install xcode
    #- chmod -R +x ./scripts
    #- ./scripts/travis/xcode5.sh

    #install xctool
    - brew update
    - brew remove xctool
    - brew install xctool
before_script:
    - chmod -R +x ./scripts
    - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
script: xctool -project org.onebusaway.iphone.xcodeproj -sdk iphonesimulator -scheme Debug build-tests run-tests
env:
  global:
  - APPNAME="OneBusAway"
  - DEPLOY_READONLY_REPO="https://github.com/bbodenmiller/onebusaway-iphone-test-releases.git"
  - DEPLOY_SSH_REPO="git@github.com:bbodenmiller/onebusaway-iphone-test-releases.git"
  - DISTRIBUTION_LISTS="Developers"

#details to setup travis to testflight are at https://gist.github.com/johanneswuerbach/5559514 with some tips at https://github.com/OneBusAway/onebusaway-iphone/issues/16
