# https://github.com/mxcl/promisekit/releases
github "mxcl/PromiseKit" ==4.5.1

# https://github.com/PromiseKit/CoreLocation/releases
github "PromiseKit/CoreLocation" ==1.0.2

# https://github.com/PromiseKit/MapKit/releases
github "PromiseKit/MapKit" ==1.0.1

# https://github.com/akashivskyy/GoogleAnalytics-Framework/releases
github "akashivskyy/GoogleAnalytics-Framework" ~>3.17

# https://github.com/SVProgressHUD/SVProgressHUD/releases
github "SVProgressHUD/SVProgressHUD" ~>2.2.5

# https://github.com/SnapKit/Masonry/releases
github "SnapKit/Masonry" ~>1.1.0

# https://github.com/SnapKit/SnapKit/releases
github "SnapKit/SnapKit" ~>4.0.0

# https://github.com/SwiftKickMobile/SwiftMessages/releases
github "SwiftKickMobile/SwiftMessages" ~>4.1.0

# https://github.com/CocoaLumberjack/CocoaLumberjack/releases
github "CocoaLumberjack/CocoaLumberjack" ~>3.4.1

# This repository does not work properly with Carthage.
# I am currently copying the source files present in Carthage/Checkouts
# and copying them to the externals folder. So, we're at least getting
# a decent level of release control, but it's less than ideal.
# https://github.com/jspahrsummers/libextobjc/releases
github "jspahrsummers/libextobjc" ~>0.5.0

# https://github.com/mantle/mantle/releases
github "mantle/mantle" ~>2.1.0

# https://github.com/AzimoLabs/SMFloatingLabelTextField/releases
github "AzimoLabs/SMFloatingLabelTextField" ~>0.3.2

# https://github.com/cbpowell/MarqueeLabel/releases
github "cbpowell/MarqueeLabel" "d7cdb1708910f030c28d0118e26f6bac24dcad8a"

# https://github.com/OneSignal/OneSignal-iOS-SDK/releases
github "OneSignal/OneSignal-iOS-SDK" ~>2.8.1
github "Instagram/IGListKit" ==3.4.0

###################
##### Testing #####
###################

# https://github.com/Quick/Quick/releases
github "Quick/Quick" ~>1.2.0

# https://github.com/Quick/Nimble/releases
github "Quick/Nimble" ~>7.0.3

# https://github.com/AliSoftware/OHHTTPStubs/releases
github "AliSoftware/OHHTTPStubs" ~>6.1.0