#
#  .gitignore
#
#  Copyright (c) 2015 Adrian Kashivskyy. All rights reserved.
#
#  Licensed under the MIT License.
#

# OS X
.DS_Store
.localized

# Xcode user-specific files
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.moved-aside
*.hmap
*.ipa

# Xcode user-specific directories
xcuserdata
profile

# Xcode build files and directories
build
output
DerivedData
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# AppCode files and directories
.idea
*.iml

# Raw logs
xcodebuild.log
xcodebuild_error.log

# CocoaPods files
Pods

# Carthage files
Carthage/Build

# Bundler files
.bundle
vendor
