<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>us.babygames4</string>
	<key>--ignore</key>
	<array>
		<string>ThirdParty</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Testing</string>
		<string>Demo</string>
	</array>
	<key>--logformat</key>
	<string>xcode</string>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Juan-Carlos Mendez</string>
	<key>--project-name</key>
	<string>JCMSegmentPageController</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--output</key>
	<string>./doc</string>
	<key>--create-html</key>
	<integer>1</integer>
	<key>--create-docset</key>
	<integer>0</integer>
	<key>--install-docset</key>
	<integer>0</integer>
	<key>--verbose</key>
	<integer>3</integer>
</dict>
</plist>
